.center {
    display: flex;
    justify-content: center;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.Main{
    padding-left: 40%;
    border: 1px solid black;
}
.container {
  width: 610px;
  text-align: left;
  margin: 0px auto 80px auto;
}
.dark{
    border: 1px solid black;
    padding: 2px;
}
.inner-left,
.inner-right {
  width: 220px;
  float: left;
  margin-left: 77px;
}
h4 {
  margin-bottom: 10px
}
ul {
    padding-left:25px;
}
li {
    padding-bottom: 5px;
    padding-top: 5px;
}
#Name{
    font-size: 50px;
}
body{
    background-color: #dedef3;
}
.thin{
    color: black;
}
thead{
    background-color: rgb(80, 122, 122);
}
td, table{
    border: 1px solid black;
    padding: 5px;
}
#stitle, #etitle{
    font-size: 18px;
}
#nhighlight, #nhighlight:visited{
    outline: none;
    border: none;
    text-decoration: none;
    color: inherit;
    
}
#Nhighlight, #Nhighlight:visited{
    outline: none;
    border: none;
    text-decoration: none;
    color: black;
     font-size: 40px;
}
.maintbl{
    display: flex;
    padding: 5px;
    margin: 10px;
}