.center {
    display: flex;
    justify-content: center;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
#Name{
    font-size: 40px;
}
body{
    background-color: #dedef3;
}
.thin{
    color: black;
}
thead{
    background-color: rgb(80, 122, 122);
}
td, table{
    border: 1px solid black;
    padding: 5px;
}
#stitle, #etitle{
    font-size: 18px;
}
#nhighlight, #nhighlight:visited{
    outline: none;
    border: none;
    text-decoration: none;
    color: inherit;
    
}
#Nhighlight, #Nhighlight:visited{
    outline: none;
    border: none;
    text-decoration: none;
    color: black;
     font-size: 40px;
}
.maintbl{
    display: flex;
    padding: 5px;
    margin: 10px;
}